name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    runs-on: self-hosted
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Pull Docker image from Docker Hub
        run: sudo docker pull haritha564/nextora:latest

      - name: Delete Old docker container
        run: sudo docker rm -f nextora || true

      - name: Run Docker Container
        run: sudo docker run -d -p 80:3000 --restart unless-stopped --name nextora haritha564/nextora:latest

