name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT || 22 }}
          script: |
            # Pull latest image
            sudo docker pull haritha564/nextora:latest
            
            # Remove old container
            sudo docker rm -f nextora || true
            
            # Run container
            sudo docker run -d \
              -p 127.0.0.1:3000:3000 \
              --restart unless-stopped \
              --name nextora \
              haritha564/nextora:latest
            
            # Verify container is running
            sudo docker ps | grep nextora
