name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Pull Docker image from Docker Hub
        run: sudo docker pull haritha564/nextora:latest

      - name: Delete Old docker container
        run: sudo docker rm -f nextora || true

      - name: Run Docker Container
        run: sudo docker run -d -p 3000:3000 --restart unless-stopped --name nextora haritha564/nextora:latest
